<div class="row">
  <div class="col-md-3 left-side">
    <ul>
      <li class="first">
        <i class="glyphicon glyphicon-chevron-down"></i> Favorites
      </li>
      <li><a>Inbox</a></li>
      <li><a>Sent Items</a></li>
    </ul>
    <ul>
      <li class="first">
        <i class="glyphicon glyphicon-chevron-down"></i> John
      </li>
      <li><a>Inbox</a></li>
      <li><a>Sent Items</a></li>
      <li><a>Drafts</a></li>
      <li><a>Outbox</a></li>
    </ul>
  </div>
  <div class="col-md-9">
      <ul class="mail-list">
        <li>
            <div class="avatar">
              <i class="glyphicon glyphicon-user"></i>
            </div>
            <div class="mail">
              <h3>Gemma Roberson</h3>
              <p>Apologize for late response</p>
              <p>Hello, I'm here......</p>
            </div>
        </li>
        <li>
          <div class="avatar">
            <i class="glyphicon glyphicon-user"></i>
          </div>
          <div class="mail">
            <h3>Gemma Roberson</h3>
            <p>Apologize for late response</p>
            <p>Hello, I'm here......</p>
          </div>
        </li>
        <li>
          <div class="avatar">
            <i class="glyphicon glyphicon-user"></i>
          </div>
          <div class="mail">
            <h3>Gemma Roberson</h3>
            <p>Apologize for late response</p>
            <p>Hello, I'm here......</p>
          </div>
        </li>
      </ul>
  </div>
</div>
